/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    padding: 250px;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
}

.result p {
    margin: 5px 0;
}